.pre-game-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #cc5200;

    .pre-game-nav {
        background: black;
        height: 60px;
        padding: 10px 5px;

        button {
            top: 0;
            background: #545454;
            border: none;
            border-radius: 5px;
            height: 40px;
            width: 40px;

            span {
                color: white;
                font-size: 24px;
            }
        }
    }

    .pre-game-show-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100%;
        overflow: auto;

        .quiz-info-done {

            min-width: 200px;
            height: 100%;
            padding: 10px 20px;
            display: flex;
            flex-direction: column;

            .quiz-basic-info-container {
                background: #662900;
                padding: 25px;
                border-radius: 10px;
                margin-bottom: 25px;

                .quiz-basic-info {
                    display: flex;
                    flex-direction: row;

                    img {
                        width: 60px;
                        margin-right: 10px;
                    }

                    .quiz-title-and-number {
                        .quiz-title {
                            color: white;
                            font-family: Quicksand, Helvetica, Arial;
                            font-weight: bold;
                        }

                        .quiz-number-ques {
                            color: #d9d9d9;
                            font-size: 13px;
                        }
                    }
                }
            }

            .attempt-group-container {
                background: #662900;
                border-radius: 10px;
                padding: 0 25px;
            }
        }

        .player-config {
            padding: 10px 25px;
            width: 500px;
            height: 100%;

            .practice-btn-group {
                width: 100%;
                padding: 5px 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                background: #662900;
                border-radius: 10px;
                padding-bottom: 10px;

                button {
                    border: none;
                    border-radius: 10px;
                    padding: 10px 60px;
                    background: #00C985;
                    box-shadow: 0 4px 0 0 #00a06a;
                    color: white;
                    font-family: Quicksand, Helvetica, Arial;
                    font-weight: 900;
                    font-size: 24px;
                }
            }


        }
    }
}