.quiz-start-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: fit-content;
    background: #cc5200;

    .quiz-start-nav {
        background: black;
        height: 60px;
        padding: 10px 5px;

        button {
            top: 0;
            background: #545454;
            border: none;
            border-radius: 5px;
            height: 40px;
            width: 40px;

            span {
                color: white;
                font-size: 24px;
            }
        }
    }

    .quiz-start-show-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100%;

        .quiz-basic-info-and-start-btn {
            padding: 25px;

            .quiz-basic-info-container {
                background: #662900;
                padding: 25px;
                border-radius: 10px;
                margin-bottom: 25px;
                display: flex;
                flex-direction: row;

                .quiz-basic-info {
                    display: flex;
                    flex-direction: row;

                    .quiz-image-md {
                        width: 80px;
                        margin-right: 10px;
                        border-radius: 5px;
                    }

                    .quiz-title-and-number {
                        .quiz-title {
                            color: white;
                            font-family: Quicksand, Helvetica, Arial;
                            font-weight: bold;
                        }

                        .quiz-number-ques {
                            color: #d9d9d9;
                            font-size: 13px;
                        }
                    }
                }
            }

            button {
                margin-left: 40px;
                border: none;
                border-radius: 10px;
                padding: 10px 40px;
                background: #00C985;
                box-shadow: 0 4px 0 0 #00a06a;
                color: white;
                font-family: Quicksand, Helvetica, Arial;
                font-weight: 900;
                font-size: 24px;
            }
        }
    }
}