.quiz-list{
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    padding: 0 5%;
    min-height: 100%;

    @media only screen and (max-width: 500px) {
        margin-left: 0;
    
    }
}