.do-quiz-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 450px;
    height: 100%;
    width: 100%;
    .question-show-field {
       
        width: 100%;
        height: 100%;
        min-width: 380px;
        padding: 10px;
        padding-top:0px;
        display: flex;
        flex-direction: column;
        background: #331400;
    }
}