.admin-layout-container{
    min-height: 100%;
    height: fit-content;    
    width: 100%;
    overflow: auto;

    br {
        display: block;
        margin: 3px 0;
        content: "";
        line-height: 1px;
    }
}